<div class="form-group row">

        <label class="col-sm-2 col-form-label">Nome do Cliente</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="clientName"
            placeholder="Insira o seu nome.">
        </div>
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="clientName"
            placeholder="Insira o seu e-mail. ">
        </div>
        <label class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="clientName"
            placeholder="Insira o seu CPF.">
        </div>
        <label class="col-sm-2 col-form-label">Barbeiro</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="clientName"
            placeholder="Escolha um profissional">
        </div>
        <label class="col-sm-2 col-form-label">Data</label>
        <div class="col-sm-10">
            <!-- <date-range-picker-overview-example></date-range-picker-overview-example> -->
        </div>
        <button (click)="addSchedule()" class="btn btn-primary">
            Salvar
        </button>
        
          
</div>

